
CarInsurance/.vs/CarInsurance/FileContentIndex/4e81568e-5102-4a11-b2e8-6487579b8a17.vsidx
CarInsurance/.vs/CarInsurance/FileContentIndex/53246ebb-df5b-49aa-917f-51999f634226.vsidx
CarInsurance/.vs/CarInsurance/FileContentIndex/8faf9d2a-f96a-4fb7-a7c9-ce065437bbd4.vsidx
CarInsurance/.vs/CarInsurance/FileContentIndex/a690cbeb-a479-447c-baac-1c19c8415485.vsidx
CarInsurance/App_Data/Insurance.mdf
CarInsurance/App_Data/Insurance_log.ldf
CarInsurance/App_Data/Insurance.mdf
CarInsurance/App_Data/Insurance_log.ldf
*.mdf
*.mdf
CarInsurance/App_Data/Insurance_log.ldf
