@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my page</h1>
    <p>Listen to my favorite guitar solos:</p>
     <iframe width="420" height="315"
            src="https://www.youtube.com/embed/playlist?list=PLXmIL6V9VZoZBiRhRRttsU3V5RZLooWoa">
    </iframe>
</div>
<h1>Let's move my animation while listening!</h1>
<p>
    <button onclick="myMove()">Click Me</button>
</p>


<div id ="myContainer">
    <div id ="myAnimation"></div>
</div>
